services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    IchHabRecht\Filefill\EventListener\ResourceStorageInitializationEventListener:
        tags:
            -   name: psr.logger_aware
            -   name: event.listener
                identifier: 'filefillResourceStorageInitializationEventListener'
                event: TYPO3\CMS\Core\Resource\Event\AfterResourceStorageInitializationEvent

    IchHabRecht\Filefill\EventListener\FileProcessingEventEventListener:
        tags:
            -   name: event.listener
                identifier: 'filefillFileProcessingEventEventListener'
                event: TYPO3\CMS\Core\Resource\Event\BeforeFileProcessingEvent
